<% provide(:title, "Summary") %>
<%= render partial: 'back' %>
<h1>Summary</h1>
<p>Summary, similar to histograms, is an accumulator for samples. It captures Numeric data and provides an efficient percentile calculation mechanism.</p>
<b> New value: <%= @new_value %></b>
<dl>
  <% @observations.map do |k, v| %>
      <dt><%= k %></dt>
      <dv><%= v %></dv>
  <% end %>
</dl>
<pre style='color:#000000;background:#f1f0f0;'><span style='color:#c34e00; '># Summary, similar to histograms, is an accumulator for samples.</span>
<span style='color:#c34e00; '># It captures Numeric data and provides an efficient percentile calculation mechanism.</span>
<span style='color:#400000; font-weight:bold; '>def</span> summary
  @new_value <span style='color:#806030; '>=</span> Random<span style='color:#806030; '>.</span>rand <span style='color:#806030; '>*</span> <span style='color:#c00000; '>100</span>
  SUMMARY_EXAMPLE<span style='color:#806030; '>.</span>observe<span style='color:#806030; '>(</span><span style='color:#806030; '>{</span><span style='color:#005fd2; '>service</span>: :<span style='color:#005fd2; '>test_scores_users</span><span style='color:#806030; '>}</span><span style='color:#806030; '>,</span> @new_value<span style='color:#806030; '>)</span>
  @observations <span style='color:#806030; '>=</span> SUMMARY_EXAMPLE<span style='color:#806030; '>.</span>get<span style='color:#806030; '>(</span><span style='color:#005fd2; '>service</span>: :<span style='color:#005fd2; '>test_scores_users</span><span style='color:#806030; '>)</span>
<span style='color:#400000; font-weight:bold; '>end</span>
</pre>